<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cat Breeds</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Search bar -->
<ion-toolbar class="ion-fixed">
  <ion-searchbar
    animated="true"
    [debounce]="1000"
    (ionInput)="handleInput($event)"
    placeholder="Looking for a breed?"
  ></ion-searchbar>
</ion-toolbar>

<ion-content>
  <!-- Pull-to-refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Collapsible header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cat Breeds arround of world</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of items -->
  <ng-container *ngIf="cats.length; else skeletonList">
    <ion-list class="grid-list">
      <ion-item
        *ngFor="let cat of (results.length ? results : cats)"
        lines="none"
      >
        <app-card-item *ngIf="cat" [cat]="cat"></app-card-item>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Skeleton loader -->
  <ng-template #skeletonList>
    <ion-list class="grid-list">
      <ion-item *ngFor="let _ of skeletonArray">
        <app-card-skeleton-text style="width: 100%"></app-card-skeleton-text>
      </ion-item>
    </ion-list>
  </ng-template>

  <!-- Infinite scroll -->
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
