<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="selectedCat">
      <ion-back-button text="Home" defaultHref="/landing"></ion-back-button>

      <ion-text class="ion-padding"
        >Breed {{ selectedCat.id.toUpperCase() }}
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll" *ngIf="selectedCat">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <div class="image-container">
      <ion-img
        [src]="
                'https://cdn2.thecatapi.com/images/' + selectedCat.reference_image_id + '.jpg'
              "
        [alt]="selectedCat.description"
        loading="lazy"
        style="width: 100%; height: 100%"
      ></ion-img>
    </div>

    <ion-content class="ion-padding">
      <ion-text class="ion-margin-bottom">
        <ion-label>Description: </ion-label>
        <p>{{selectedCat.description}}</p>
      </ion-text>

      <ion-list>
        <ng-container *ngFor="let prop of objectEntries">
          <ion-item *ngIf="prop[0] !=='description'">
            <ng-container *ngIf="validateObject(prop[1])">
              <ion-label>{{ prop[0] }}: </ion-label>
              <p class="ion-margin" *ngFor="let item of entries(prop[1])">
                <ion-label> {{ item[0] }} </ion-label>
                {{ item[1] }}
              </p>
            </ng-container>

            <ng-container *ngIf="!validateObject(prop[1])">
              <a
                *ngIf="validateUrl(prop[1])"
                [href]="prop[1]"
                target="_blank"
                style="color: inherit; text-decoration: none"
              >
                <ion-label>
                  {{ prop[0] }}:
                  <p>{{ prop[1] }}</p>
                </ion-label>
              </a>

              <ng-container *ngIf="!validateUrl(prop[1])">
                <ion-label>
                  {{ prop[0] }}:
                  <p *ngIf="validateLength(prop[1])">{{ prop[1] || 'N/A' }}</p>
                </ion-label>
                <p *ngIf="!validateLength(prop[1])">{{ prop[1] || 'N/A' }}</p>
              </ng-container>
            </ng-container>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-content>
  </div>
</ion-content>
