<ion-card class="full">
  <ion-card-header class="row">
    <ion-card-title class="part">
      <ion-skeleton-text [animated]="true" class="full"></ion-skeleton-text>
    </ion-card-title>

    <ion-card-subtitle class="part">
      <ion-skeleton-text [animated]="true" class="full"></ion-skeleton-text>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-text>

  <ion-card-content class="row">
    <ion-text class="part">
      <ion-skeleton-text [animated]="true" class="full"></ion-skeleton-text>
    </ion-text>

    <ion-text class="part">
      <ion-skeleton-text [animated]="true" class="full"></ion-skeleton-text>
    </ion-text>
  </ion-card-content>
</ion-card>
