<ion-card (click)="selectCat(cat)">
  <ion-card-header class="row">
    <ion-card-title>{{ cat.id }}</ion-card-title>
    <ion-card-subtitle>See Details</ion-card-subtitle>
  </ion-card-header>

  <ion-img
    class="image-container"
    loading="lazy"
    [alt]="cat.description"
    [src]="
      'https://cdn2.thecatapi.com/images/' + cat.reference_image_id + '.jpg'
    "
  ></ion-img>

  <ion-card-content class="row">
    <ion-text>{{ cat.origin }}</ion-text>
    <ion-text>Intelligence: {{ cat.intelligence }}</ion-text>
  </ion-card-content>
</ion-card>
